<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MajsAirlinesWEB</display-name>
  <welcome-file-list>
    <welcome-file>Pocetna.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>airlines.Servleti.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>KorisnikServlet</display-name>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>airlines.Servleti.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/KorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaServlet</display-name>
    <servlet-name>KartaServlet</servlet-name>
    <servlet-class>airlines.Servleti.KartaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaServlet</servlet-name>
    <url-pattern>/KartaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>airlines.Servleti.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaKorisnikaServlet</display-name>
    <servlet-name>RegistracijaKorisnikaServlet</servlet-name>
    <servlet-class>airlines.Servleti.RegistracijaKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaKorisnikaServlet</servlet-name>
    <url-pattern>/RegistracijaKorisnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LetServlet</display-name>
    <servlet-name>LetServlet</servlet-name>
    <servlet-class>airlines.Servleti.LetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LetServlet</servlet-name>
    <url-pattern>/LetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>airlines.Statusi.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>airlines.Statusi.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>airlines.Statusi.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnauthorizedServlet</display-name>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <servlet-class>airlines.Statusi.UnauthorizedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <url-pattern>/UnauthorizedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzvestajiServlet</display-name>
    <servlet-name>IzvestajiServlet</servlet-name>
    <servlet-class>airlines.Servleti.IzvestajiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzvestajiServlet</servlet-name>
    <url-pattern>/IzvestajiServlet</url-pattern>
  </servlet-mapping>
</web-app>